body {
	font-family:Arial, Helvetica, sans-serif;
}

.estiloAlternativo {
	font-family: monospace;
	background-color: lavender;
}

a {
  text-decoration: none;
}

a img {
  border: none;
}

.boton {
	background-color: #090963;
	color: white;
	text-transform: uppercase;
}

.boton:hover  {
	background-color: #5a5;
}


#cabecera{
	border: thick solid #090963;
	
}

.acceso {
	display: block;
	float: right;
	color: white;
	text-align: right;
	font-size: 11px;
	padding: 10px 7px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 2px;
}


#formacceso {
	border: 2px solid #090963;
	color: #090963;
	background-color: white;
	display: block;
	font-size: 11px;
	padding: 0px 5px;
	font-weight: bold;
	text-transform: uppercase;
	width: 60%;
	margin: auto; 
	
}

#formacceso .boton {
	font-size: 10px;
	font-weight: bold;
	padding: 1px;
	margin: 0px;
}

#nombreusuario {
	background-color: white;
	color:  #090963;
}

#pie {
    position: fixed;
    background-color: white;
    bottom: 0;
    margin: 0;
    height: 35px;
    width: 100%;
    border-top: 1px solid rgb(180, 180, 180);
}

#pie p {
    padding: 0px 20px;
    font-size: 0.85em;
    /*Debido a que el texto de la tarea se puede malinterpretar,
      se admite como font-size (0.85em, 0.15em, 15% y 85%)*/
    margin-top: 4px;
}

#bienvenida, #crear,  #lista {
	clear: both;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#bienvenida {
	padding-top: 10%;
}

#crear,  #lista{
	padding-top: 4%;
	width: 75%;
}


#datos li {
	list-style: square;
	padding: 30px;
	display: block;
	font-size: 1.5em;
	color: #090963;
}

.datovalor {
	font-weight: bold;
}

#formcrear {
	border: 2px solid #090963;
	color: #090963;
	background-color: white;
}

#formcrear form {
	padding-top: 4%;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#formcrear label {
	display: block;
	text-align: left;
	font-weight: bold;
	margin-top: 10px;
}

#formcrear input[type="text"] {
	height: 20px;
	width: 100%;
}

#formcrear .boton {
	font-weight: bold;
	margin: 10px;
	padding: 10px;
}
	
#formcrear #condiciones {
	height: 80px;
	width: 100%;
	resize: none;
}

#exito,  #error {
	background-color: #5a5;
	color: white;
	font-size: 1.25em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	width: 40%;
}

#error {
	background-color: #a55;
}

#lista td {
	border-top: 2px solid #a55;
	border-bottom: 2px solid #a55;
	text-align: left;
	padding-left: 20px;
}

#lista td:hover {
	background-color: #fec;
}

#lista table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 40px;
}

.detalle {
	display: block;
}

.textonota {
	border: 1px dotted #a55;
}

#menu, #contenido {
	margin-top: 30px;
	float: left;
}

#menu {
	
	clear: both;
	width: 20%;
	text-align: left;
	border: thin solid #090963;
	
}


#menu p {
	padding: 5px;
	margin: 10px;
	background-color: aliceblue;
}

#menu p a {
	color: 	#090963;
	display: block;
}

#menu p:hover {
	background-color: #090963;
}


#menu p:hover a {
	color: white;
}

#contenido {
	width: 70%;
	padding-left: 50px;
}

#contenido h1 {
	border-bottom: thin solid #090963;
}

#lista-tabla, #lista-tabla tr,  #lista-tabla td{
	border: 1px solid #090963;
	padding: 5px;
	margin: 0px;
	border-collapse: collapse;
}

#lista-tabla {
	width: 100%;
}

.bBorrar {
	background-color:  #a55;
}

img {
	width: 600px;
    height: 100px;
}

